body {
  text-align: center;
  font-family: "Gotham"
  margin: auto auto;
}

table {
  margin: 40px auto;
  border: thin solid black;
  width: 800px;
  height: 800px;
}

td {
  border: thin solid black;
  height: 105px;
  width: 105px;
  padding: 5px
}

td.blank {
  background: url(coderdojo-logo.png) no-repeat;
  background-size: 100px 100px;
  background-position: 8px 8px;
}

h1 {
  font-family: "GothamBook";
  font-size: 42px;
  color: #4C4C4C;
  text-transform: uppercase;
}

h1 > span {
  font-family: "Gotham";
  color: #ED164E;
}

pre {
  width: 800px;
  margin: auto auto;
}
